In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import connection

In [11]:
# Read the file
df1 = pd.read_csv('StudentsPerformance.csv')
df1.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [20]:
#Changes in dataframe made in connection.py
df2 = connection.df
df2.head()

,GENDER,ETHNICITY,PARENTAL EDUCATION LEVEL,LUNCH,TEST PREPARATION COURSE,MATH SCORE,READING SCORE,WRITING SCORE
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Check Data Quality

In [21]:
#Equal zero, there are no duplicate values
print(len(df2) - len(df2.drop_duplicates()), "\n")

#Counting null values in each column in df with a boolean mask
print(df2.isna().sum(axis = 0), "\n")

for column in df2.columns:
    if column == 'MATH SCORE':
        break
    else:
        print(df2.groupby(column).groups.keys())

print("\n", df2.dtypes, "\n")

for column in df2.loc[:,'MATH SCORE':'WRITING SCORE']:
    print(f"{column}'s column minimum value is:", df2[column].min(), ", and maximum is:", df2[column].max())

(rows, columns) = df2.shape

print("\nAmount of rows are:", rows)
print("Amount of columns are:", columns)

0

GENDER                      0
ETHNICITY                   0
PARENTAL EDUCATION LEVEL    0
LUNCH                       0
TEST PREPARATION COURSE     0
MATH SCORE                  0
READING SCORE               0
WRITING SCORE               0
dtype: int64

dict_keys(['female', 'male'])
dict_keys(['group A', 'group B', 'group C', 'group D', 'group E'])
dict_keys(["associate's degree", "bachelor's degree", 'high school', "master's degree", 'some college', 'some high school'])
dict_keys(['free/reduced', 'standard'])
dict_keys(['completed', 'none'])

 GENDER                      object
ETHNICITY                   object
PARENTAL EDUCATION LEVEL    object
LUNCH                       object
TEST PREPARATION COURSE     object
MATH SCORE                   int64
READING SCORE                int64
WRITING SCORE                int64
dtype: object

MATH SCORE's column minimum value is: 0 , and maximum is: 100
READING SCORE's column minimum value is: 17 , and maximum is: 100
WRITING SCORE's column minimum value is: 10 , and maximum is: 100

Amount of rows are: 1000
Amount of columns are: 8

### EDA (Exploratory Data Analysis)

### Data preparation

### Visualizations