In [4]:
import pandas as pd
import mysql.connector 
from mysql.connector import Error
import matplotlib.pyplot as plt

In [5]:
# Read the file
data = pd.read_csv('StudentsPerformance.csv')
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Check Data Quality

In [27]:
df = pd.read_csv('StudentsPerformance.csv')

#Equal zero, there are no duplicate values
print(len(df) - len(df.drop_duplicates()), "\n")

#Counting null values in each column in df with a boolean mask
print(df.isna().sum(axis = 0), "\n")

for column in df.columns:
    if column == 'math score':
        break
    else:
        print(df.groupby(column).groups.keys())

print("\n", df.dtypes, "\n")

for column in df.loc[:,'math score':'writing score']:
    print(f"{column}'s column minimum value is:", df[column].min(), ", and maximum is:", df[column].max())

(rows, columns) = df.shape

print("\nAmount of rows are:", rows)
print("Amount of columns are:", columns)

0

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

dict_keys(['female', 'male'])
dict_keys(['group A', 'group B', 'group C', 'group D', 'group E'])
dict_keys(["associate's degree", "bachelor's degree", 'high school', "master's degree", 'some college', 'some high school'])
dict_keys(['free/reduced', 'standard'])
dict_keys(['completed', 'none'])

 gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

math score's column minimum value is: 0 , and maximum is: 100
reading score's column minimum value is: 17 , and maximum is: 100
writing score's column minimum value is: 10 , and maximum is: 100

Amount of rows are: 1000
Amount of columns are: 8

### EDA (Exploratory Data Analysis)

### Data preparation

### Visualizations